*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: 2rem;
  height:10rem;
  box-shadow: 5px 5px 5px white;
  padding: 1rem;
  background-color: #fff;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttons button {
  color: white;
  background-color: black;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 5rem;
  font-size: 1rem;
}